{{> Header }}

<section class="todos">

	<h1 id="title">{{ todo.title }}</h1>

	<h2 status="{{ todo.status }}">{{ todo.status }}</h2>

	<p id="description">{{ todo.description }}</p>

</section>

{{> Footer }}
